#nav_space {
    height: 7.5vh;
    width: 100vw;
}

/* First section */
#first {
    top: -8vh;
    height: 92.5vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.vid {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    mask-image: linear-gradient(180deg, transparent, black 5% 95%, transparent);
    opacity: 0.45;
}

.vid video {
    width: 100vw;
}

#first .vid{
    opacity: 0.8;
}

.blur {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
    background: transparent;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.5), rgba(42, 42, 42, 0.5), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(5px);
}

#mask1 {
    position: relative;
    width: 40vw;
    left: 60vw;
}

#cont1 {
    position: relative;
    top: 15vh;
    left: 8vw;
    font-size: 22px;
    color: white;
    z-index: 2;
}

#first ul li {
    margin-left: 1em;
    padding: 5px;
}

.box {
    height: 6vh;
    width: 20vw;
    margin-bottom: 10px;
    color: white;
    background: none;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 3px;
    font-weight: 500;
    position: relative;
    top: 5vh;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 6vh;
}

.box:hover {
    transform: translateX(2px) translateY(-2px);
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 159, 0);
    box-shadow: 0 4px 8px rgba(0, 159, 0, 0.3);
}

.box:active {
    transform: translateX(0) translateY(0);
}

/* Slider bars */
.slider {
    width: 100%;
}

.bar {
    width: 100%;
    background-color: black;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10% 80%, transparent);
}

.bar .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.bar .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoScroll 9s linear infinite;
    animation-delay: calc((1s) * (var(--position) - 1)) !important;
}

@keyframes autoScroll {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.bar:hover .item {
    animation-play-state: paused;
}

.bar .list .item img {
    height: var(--height);
    width: var(--width);
}

/* Second section */
#second {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#second h1 {
    position: relative;
    top: 15vh;
    color: white;
    font-size: 3em;
    margin-left: 5vw;
    z-index: 1;
}

#second img {
    position: relative;
    top: 1vh;
    height: 130px;
    left: 32vw;
    z-index: 1;
}

.cont2 {
    margin-left: 80px;
    margin-top: 25px;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 350px 350px;
    align-items: center;
    gap: 25px;
    column-gap: 40px;
    z-index: 2;
}

.t1 {
    color: rgb(165, 255, 47);
}

.para {
    position: relative;
    /* z-index: 5; */
    color: white;
    font-size: 20px;
}

#get_started {
    position: relative;
    left: 60vw;
    bottom: 4vh;
}

#get_started h2 {
    color: white;
    font-size: 30px;
    width: 400px;
}

#get_started a {
    font-size: 1.5em;
    color: rgb(98, 209, 0);
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

#get_started a:hover {
    color: yellowgreen;
    transform: scale(1.05);
}

/* Image panel */
.imagep {
    display: grid;
    grid-template-columns: 45vw 20vw 20vw;
    grid-template-rows: 24vh 24vh;
    gap: 25px;
    padding: 10vh;
    background-color: black;
}

.imjpg1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

.imgh {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

.imgh:hover {
    scale: 1.03;
    mask-image: none;
    transform: scaleX(1) scaleY(1);
}

/* Third section */
#third {
    background-color: rgba(0, 0, 0, 0.373);
    height: 100vh;
    width: 100vw;
    position: relative;
}

#third h1 {
    color: white;
    font-size: 3em;
    left: 45vw;
    position: relative;
    top: 15vh;
    z-index: 1;
}

.cont3 {
    position: relative;
    top: 20vh;
    left: 45vw;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 350px 350px;
    align-items: center;
    gap: 25px;
    column-gap: 30px;
    z-index: 1;
}

#create_future {
    position: relative;
    right: 35vw;
    bottom: 5vh;
    color: white;
    font-size: 20px;
}

#create_future a {
    color: rgb(98, 209, 0);
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

#create_future a:hover {
    color: yellowgreen;
    transform: scale(1.05);
}

/* Fourth section */
#fourth {
    background-color: rgba(0, 0, 0, 0.611);
    height: 100vh;
    width: 100vw;
    position: relative;
}

#fourth h1 {
    position: relative;
    top: 10vh;
    color: white;
    font-size: 3em;
    margin-left: 6%;
    z-index: 1;
}

.cont4 {
    position: relative;
    top: 10vh;
    width: 100vw;
    align-items: center;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 60vh;
    gap: 50px;
    font-size: 30px;
    margin-left: 6%;
    line-height: 1.75;
    z-index: 1;
}

.ll1 {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.ll1:hover {
    color: yellowgreen;
    transform: translateX(5px);
}

.ll2 {
    text-decoration: none;
    color: yellowgreen;
    transition: all 0.3s ease;
    display: inline-block;
}

.ll2:hover {
    color: white;
    transform: translateX(5px);
}

/* Footer */
footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4rem 0 2rem 0;
    position: relative;
    z-index: 1;
}

.footer-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.col {
    flex: 1;
    min-width: 200px;
    padding: 0 1rem;
}

.col img {
    height: 150px;
    margin: 0 auto;
    display: block;
}

.col p {
    font-size: larger;
    text-align: center;
    margin: 1rem 0;
}

.col.ad {
    margin-left: 0;
}

.col h2 {
    width: fit-content;
    margin-bottom: 1.5rem;
    position: relative;
    background-image: linear-gradient(30deg, rgb(0, 158, 0), rgb(228, 245, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.col ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}

.col ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.col ul li a:hover {
    color: yellowgreen;
}

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.5rem;
}

.social-icons a {
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: yellowgreen;
}

hr {
    width: 85%;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2rem auto;
}

.copyright {
    text-align: center;
    color: yellowgreen;
    margin-bottom: 1rem;
}

/* Responsive Design Improvements */
@media (max-width: 1024px) {
    #cont1 {
        font-size: 18px;
    }
    
    .box {
        width: 25vw;
        font-size: 18px;
    }
    
    .cont2, .cont3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-left: 20px;
    }
    
    .cont4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    #cont1 {
        font-size: 16px;
        left: 5vw;
    }
    
    .box {
        width: 35vw;
        font-size: 16px;
    }
    
    #first h1, #second h1, #third h1, #fourth h1 {
        font-size: 2em;
    }
    
    .cont2, .cont3 {
        grid-template-columns: 1fr;
        margin-left: 10px;
    }
    
    .cont4 {
        grid-template-columns: 1fr;
    }
    
    .imagep {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .imjpg1 {
        grid-row: 1;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col {
        width: 100%;
        margin-bottom: 2rem;
    }

    .col.ad {
        margin-left: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */